.header {
    width: 100%;
    height: 8rem;
    background-color: #d5d5d5;
}

.header__navbar {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.header__logo {
    width: 15%;
}

.header__logo-img {
    width: 120px;
    margin: 0 20%;

}

.header__navbar-list {
    padding: 0;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.header__navbar-item {
    font-size: 2rem;
    font-weight: bold;

}

.header__navbar-link {
    text-decoration: none;
    color: #000;
}

.header__navbar-book {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.header__navbar-book-btn {
    font-size: 2rem;
    color: var(--white-color);
    background-color: #000;
    border-radius: 20px;
    width: 220px;
    height: 35px;
}

.header__navbar-book-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.overview-content-icon {
    font-size: 2.4rem;
    color: rgb(4, 140, 245);
    margin: 0 8px;
}

.overview-content-title {
    font-size: 2.4rem;
}

.overview-content-address {
    font-size: 2.4rem;
    font-weight: bold;
}

.card-title-heading {
    padding: 10px;
    font-size: 2.4rem;
    font-weight: bold;
}

.money {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}

.money-heading {
    font-size: 2.2rem;
    font-weight: bold;
}

.money-price {
    font-size: 2.2rem;
    font-weight: bold;
    color: #FF0000;
}

.info-heading-title {
    font-size: 3rem;
    font-weight: bold;
}

.info-heading {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 8px 20px;
}

.info-input {
    width: 100%;
    height: 46px;
    padding: 0 10px;
    font-size: 1.8rem;
}

.info-textarea {
    width: 100%;
    min-height: 70px;
    max-height: 120px;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 8px 12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.type-payment {
    font-size: 3rem;
    font-weight: bold;
}

.form-check-payment {
    margin: 10px 150px;
}

.method-payment {
    font-size: 3rem;
    font-weight: bold;
}

.info-banking {
    margin: 20px 40px;
}

.banking-title {
    font-size: 2.4rem;
    font-weight: bold;
}

.banking-img {
    border: 2px solid #6c757d;
}

.card-title-info {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px;
}

.submit-input {
    text-align: center;
    width: 200px;
    height: 46px;
    padding: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #139DEA;
    border: none;
    margin: 30px 350px;

}